In [1]:
# import dependencies
import pandas as pd
from pandas import DataFrame, read_csv

In [2]:
# read file
difficulties_file = "Resources/Main Difficulty in finding work by age.xls"
difficulties_df = pd.read_excel(difficulties_file, 'Table 16.1')
difficulties_df.head(30)

,Australian Bureau of Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,"6226.0 Participation, Job Search and Mobility,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Released at 11:30 am (Canberra time) Mon 10 Au...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Table 16.1 Main difficulty in finding work by ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,AGE GROUP (YEARS),NaN,NaN,NaN,NaN,SEX,NaN,NaN
4,NaN,NaN,15–24,25–34,35–44,45–54,55 and over,Males,Females,Persons
5,NaN,NaN,'000,'000,'000,'000,'000,'000,'000,'000
6,Main difficulty in finding work,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Had difficulty finding work,NaN,240.158,119.005,89.5895,81.8611,81.7914,331.158,281.248,612.405
8,Too many applicants for available jobs,NaN,46.7344,20.4862,21.9081,13.2327,9.51845,62.8826,48.9972,111.88
9,Lacked necessary skills or education,NaN,21.6786,14.2312,3.39693,5.91124,5.4021,25.604,25.0161,50.6201
10,Considered too young or too old by employers,NaN,9.48366,2.42123,0.909375,6.9906,28.5424,26.5392,21.8081,48.3472
11,Considered too young by employers,NaN,5.95113,0.671009,-,-,-,3.35417,3.26798,6.62214
12,Considered too old by employers,NaN,3.53253,1.75023,0.909375,6.9906,28.5424,23.185,18.5401,41.7251
13,Insufficient work experience,NaN,57.5263,16.2254,6.03754,3.16761,0.778057,42.8526,40.8823,83.7349
14,No vacancies at all,NaN,15.9131,5.07731,4.57682,2.93412,4.14528,19.6673,12.9793,32.6466
15,No vacancies in line of work,NaN,8.93312,4.89334,6.88117,10.7606,6.17881,24.7225,12.9245,37.647
16,Too far to travel/transport problems,NaN,12.8865,5.43615,3.19061,3.33686,2.74652,22.4092,5.18742,27.5966
17,Own ill health or disability,NaN,14.9002,10.695,10.9637,13.0677,8.88243,34.3159,24.1933,58.5091
18,Language difficulties,NaN,1.35856,2.41557,4.44544,3.54547,2.36169,4.51758,9.60915,14.1267
19,Unsuitable hours,NaN,11.8411,5.971,10.37,4.97441,1.27637,12.8504,21.5825,34.4329
20,Difficulties with finding childcare and other ...,NaN,1.82282,5.30417,5.29949,6.09695,0.657959,5.62373,13.5577,19.1814
21,No feedback from employers,NaN,3.68466,1.95561,1.19173,1.71274,1.27363,5.10944,4.70894,9.81837
22,Other difficulties,NaN,33.3951,23.8928,10.4185,6.13019,10.0277,44.0632,39.8012,83.8644
23,Did not have difficulty finding work,NaN,40.4514,22.1285,12.1295,9.98663,8.48255,49.7492,43.4294,93.1786
24,Total,NaN,280.609,141.134,101.719,91.8478,90.274,380.907,324.677,705.584
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,© Commonwealth of Australia 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# drop rows on the top to narrow down analysis time period
difficulties_df.drop(difficulties_df.index[0:7],0,inplace=True)
difficulties_df.reset_index(drop=True, inplace=True)
difficulties_df

,Australian Bureau of Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Had difficulty finding work,NaN,240.158,119.005,89.5895,81.8611,81.7914,331.158,281.248,612.405
1,Too many applicants for available jobs,NaN,46.7344,20.4862,21.9081,13.2327,9.51845,62.8826,48.9972,111.88
2,Lacked necessary skills or education,NaN,21.6786,14.2312,3.39693,5.91124,5.4021,25.604,25.0161,50.6201
3,Considered too young or too old by employers,NaN,9.48366,2.42123,0.909375,6.9906,28.5424,26.5392,21.8081,48.3472
4,Considered too young by employers,NaN,5.95113,0.671009,-,-,-,3.35417,3.26798,6.62214
5,Considered too old by employers,NaN,3.53253,1.75023,0.909375,6.9906,28.5424,23.185,18.5401,41.7251
6,Insufficient work experience,NaN,57.5263,16.2254,6.03754,3.16761,0.778057,42.8526,40.8823,83.7349
7,No vacancies at all,NaN,15.9131,5.07731,4.57682,2.93412,4.14528,19.6673,12.9793,32.6466
8,No vacancies in line of work,NaN,8.93312,4.89334,6.88117,10.7606,6.17881,24.7225,12.9245,37.647
9,Too far to travel/transport problems,NaN,12.8865,5.43615,3.19061,3.33686,2.74652,22.4092,5.18742,27.5966
10,Own ill health or disability,NaN,14.9002,10.695,10.9637,13.0677,8.88243,34.3159,24.1933,58.5091
11,Language difficulties,NaN,1.35856,2.41557,4.44544,3.54547,2.36169,4.51758,9.60915,14.1267
12,Unsuitable hours,NaN,11.8411,5.971,10.37,4.97441,1.27637,12.8504,21.5825,34.4329
13,Difficulties with finding childcare and other ...,NaN,1.82282,5.30417,5.29949,6.09695,0.657959,5.62373,13.5577,19.1814
14,No feedback from employers,NaN,3.68466,1.95561,1.19173,1.71274,1.27363,5.10944,4.70894,9.81837
15,Other difficulties,NaN,33.3951,23.8928,10.4185,6.13019,10.0277,44.0632,39.8012,83.8644
16,Did not have difficulty finding work,NaN,40.4514,22.1285,12.1295,9.98663,8.48255,49.7492,43.4294,93.1786
17,Total,NaN,280.609,141.134,101.719,91.8478,90.274,380.907,324.677,705.584
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,© Commonwealth of Australia 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# drop bottom rows
difficulties_df.drop(difficulties_df.index[18:21],0,inplace=True)
difficulties_df.reset_index(drop=True, inplace=True)
difficulties_df

,Australian Bureau of Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Had difficulty finding work,NaN,240.158,119.005,89.5895,81.8611,81.7914,331.158,281.248,612.405
1,Too many applicants for available jobs,NaN,46.7344,20.4862,21.9081,13.2327,9.51845,62.8826,48.9972,111.88
2,Lacked necessary skills or education,NaN,21.6786,14.2312,3.39693,5.91124,5.4021,25.604,25.0161,50.6201
3,Considered too young or too old by employers,NaN,9.48366,2.42123,0.909375,6.9906,28.5424,26.5392,21.8081,48.3472
4,Considered too young by employers,NaN,5.95113,0.671009,-,-,-,3.35417,3.26798,6.62214
5,Considered too old by employers,NaN,3.53253,1.75023,0.909375,6.9906,28.5424,23.185,18.5401,41.7251
6,Insufficient work experience,NaN,57.5263,16.2254,6.03754,3.16761,0.778057,42.8526,40.8823,83.7349
7,No vacancies at all,NaN,15.9131,5.07731,4.57682,2.93412,4.14528,19.6673,12.9793,32.6466
8,No vacancies in line of work,NaN,8.93312,4.89334,6.88117,10.7606,6.17881,24.7225,12.9245,37.647
9,Too far to travel/transport problems,NaN,12.8865,5.43615,3.19061,3.33686,2.74652,22.4092,5.18742,27.5966
10,Own ill health or disability,NaN,14.9002,10.695,10.9637,13.0677,8.88243,34.3159,24.1933,58.5091
11,Language difficulties,NaN,1.35856,2.41557,4.44544,3.54547,2.36169,4.51758,9.60915,14.1267
12,Unsuitable hours,NaN,11.8411,5.971,10.37,4.97441,1.27637,12.8504,21.5825,34.4329
13,Difficulties with finding childcare and other ...,NaN,1.82282,5.30417,5.29949,6.09695,0.657959,5.62373,13.5577,19.1814
14,No feedback from employers,NaN,3.68466,1.95561,1.19173,1.71274,1.27363,5.10944,4.70894,9.81837
15,Other difficulties,NaN,33.3951,23.8928,10.4185,6.13019,10.0277,44.0632,39.8012,83.8644
16,Did not have difficulty finding work,NaN,40.4514,22.1285,12.1295,9.98663,8.48255,49.7492,43.4294,93.1786
17,Total,NaN,280.609,141.134,101.719,91.8478,90.274,380.907,324.677,705.584

In [5]:
# drop the row that has a breakdown provided underneath
difficulties_all = difficulties_df.drop(difficulties_df.index[3]).copy()
difficulties_all.reset_index(drop=True, inplace=True)
difficulties_all

,Australian Bureau of Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Had difficulty finding work,NaN,240.158,119.005,89.5895,81.8611,81.7914,331.158,281.248,612.405
1,Too many applicants for available jobs,NaN,46.7344,20.4862,21.9081,13.2327,9.51845,62.8826,48.9972,111.88
2,Lacked necessary skills or education,NaN,21.6786,14.2312,3.39693,5.91124,5.4021,25.604,25.0161,50.6201
3,Considered too young by employers,NaN,5.95113,0.671009,-,-,-,3.35417,3.26798,6.62214
4,Considered too old by employers,NaN,3.53253,1.75023,0.909375,6.9906,28.5424,23.185,18.5401,41.7251
5,Insufficient work experience,NaN,57.5263,16.2254,6.03754,3.16761,0.778057,42.8526,40.8823,83.7349
6,No vacancies at all,NaN,15.9131,5.07731,4.57682,2.93412,4.14528,19.6673,12.9793,32.6466
7,No vacancies in line of work,NaN,8.93312,4.89334,6.88117,10.7606,6.17881,24.7225,12.9245,37.647
8,Too far to travel/transport problems,NaN,12.8865,5.43615,3.19061,3.33686,2.74652,22.4092,5.18742,27.5966
9,Own ill health or disability,NaN,14.9002,10.695,10.9637,13.0677,8.88243,34.3159,24.1933,58.5091
10,Language difficulties,NaN,1.35856,2.41557,4.44544,3.54547,2.36169,4.51758,9.60915,14.1267
11,Unsuitable hours,NaN,11.8411,5.971,10.37,4.97441,1.27637,12.8504,21.5825,34.4329
12,Difficulties with finding childcare and other ...,NaN,1.82282,5.30417,5.29949,6.09695,0.657959,5.62373,13.5577,19.1814
13,No feedback from employers,NaN,3.68466,1.95561,1.19173,1.71274,1.27363,5.10944,4.70894,9.81837
14,Other difficulties,NaN,33.3951,23.8928,10.4185,6.13019,10.0277,44.0632,39.8012,83.8644
15,Did not have difficulty finding work,NaN,40.4514,22.1285,12.1295,9.98663,8.48255,49.7492,43.4294,93.1786
16,Total,NaN,280.609,141.134,101.719,91.8478,90.274,380.907,324.677,705.584

In [6]:
# rename columns
difficulties_all.columns = ['Main difficulty', 'empty', '15–24', '25–34', '35–44', '45–54', '55 and over', 'Males', 'Females', 'Persons']
difficulties_all

,Main difficulty,empty,15–24,25–34,35–44,45–54,55 and over,Males,Females,Persons
0,Had difficulty finding work,NaN,240.158,119.005,89.5895,81.8611,81.7914,331.158,281.248,612.405
1,Too many applicants for available jobs,NaN,46.7344,20.4862,21.9081,13.2327,9.51845,62.8826,48.9972,111.88
2,Lacked necessary skills or education,NaN,21.6786,14.2312,3.39693,5.91124,5.4021,25.604,25.0161,50.6201
3,Considered too young by employers,NaN,5.95113,0.671009,-,-,-,3.35417,3.26798,6.62214
4,Considered too old by employers,NaN,3.53253,1.75023,0.909375,6.9906,28.5424,23.185,18.5401,41.7251
5,Insufficient work experience,NaN,57.5263,16.2254,6.03754,3.16761,0.778057,42.8526,40.8823,83.7349
6,No vacancies at all,NaN,15.9131,5.07731,4.57682,2.93412,4.14528,19.6673,12.9793,32.6466
7,No vacancies in line of work,NaN,8.93312,4.89334,6.88117,10.7606,6.17881,24.7225,12.9245,37.647
8,Too far to travel/transport problems,NaN,12.8865,5.43615,3.19061,3.33686,2.74652,22.4092,5.18742,27.5966
9,Own ill health or disability,NaN,14.9002,10.695,10.9637,13.0677,8.88243,34.3159,24.1933,58.5091
10,Language difficulties,NaN,1.35856,2.41557,4.44544,3.54547,2.36169,4.51758,9.60915,14.1267
11,Unsuitable hours,NaN,11.8411,5.971,10.37,4.97441,1.27637,12.8504,21.5825,34.4329
12,Difficulties with finding childcare and other ...,NaN,1.82282,5.30417,5.29949,6.09695,0.657959,5.62373,13.5577,19.1814
13,No feedback from employers,NaN,3.68466,1.95561,1.19173,1.71274,1.27363,5.10944,4.70894,9.81837
14,Other difficulties,NaN,33.3951,23.8928,10.4185,6.13019,10.0277,44.0632,39.8012,83.8644
15,Did not have difficulty finding work,NaN,40.4514,22.1285,12.1295,9.98663,8.48255,49.7492,43.4294,93.1786
16,Total,NaN,280.609,141.134,101.719,91.8478,90.274,380.907,324.677,705.584

In [7]:
# check data types
difficulties_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Main difficulty  17 non-null     object
 1   empty            0 non-null      float64
 2   15–24            17 non-null     object
 3   25–34            17 non-null     object
 4   35–44            17 non-null     object
 5   45–54            17 non-null     object
 6   55 and over      17 non-null     object
 7   Males            17 non-null     object
 8   Females          17 non-null     object
 9   Persons          17 non-null     object
dtypes: float64(1), object(9)
memory usage: 812.0+ bytes

In [8]:
# convert objects to float
difficulties_all[['15–24', '25–34', '35–44', '45–54', '55 and over', 'Males', 'Females', 'Persons']] = difficulties_all[['15–24', '25–34', '35–44', '45–54', '55 and over', 'Males', 'Females', 'Persons']].apply(pd.to_numeric, errors='coerce')
difficulties_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Main difficulty  17 non-null     object
 1   empty            0 non-null      float64
 2   15–24            17 non-null     float64
 3   25–34            17 non-null     float64
 4   35–44            16 non-null     float64
 5   45–54            16 non-null     float64
 6   55 and over      16 non-null     float64
 7   Males            17 non-null     float64
 8   Females          17 non-null     float64
 9   Persons          17 non-null     float64
dtypes: float64(9), object(1)
memory usage: 1.3+ KB

In [9]:
# set values to actual amount
difficulties_all[['15–24', '25–34', '35–44', '45–54', '55 and over', 'Males', 'Females', 'Persons']] = difficulties_all[['15–24', '25–34', '35–44', '45–54', '55 and over', 'Males', 'Females', 'Persons']] * 1000
difficulties_all

,Main difficulty,empty,15–24,25–34,35–44,45–54,55 and over,Males,Females,Persons
0,Had difficulty finding work,NaN,240158.116060,119005.024210,89589.492147,81861.133106,81791.417782,331157.519690,281247.663620,612405.183310
1,Too many applicants for available jobs,NaN,46734.396557,20486.180561,21908.059904,13232.659482,9518.451962,62882.553618,48997.194850,111879.748470
2,Lacked necessary skills or education,NaN,21678.554854,14231.247748,3396.928146,5911.239197,5402.104458,25604.005010,25016.069394,50620.074404
3,Considered too young by employers,NaN,5951.133470,671.009086,NaN,NaN,NaN,3354.167275,3267.975281,6622.142556
4,Considered too old by employers,NaN,3532.529802,1750.225073,909.375225,6990.596409,28542.376326,23184.996671,18540.106164,41725.102835
5,Insufficient work experience,NaN,57526.349373,16225.368167,6037.543150,3167.605777,778.057292,42852.601306,40882.322455,83734.923761
6,No vacancies at all,NaN,15913.068660,5077.309599,4576.823966,2934.115375,4145.280109,19667.275674,12979.322034,32646.597709
7,No vacancies in line of work,NaN,8933.120816,4893.336789,6881.172060,10760.574100,6178.813403,24722.515942,12924.501228,37647.017169
8,Too far to travel/transport problems,NaN,12886.493486,5436.145859,3190.614224,3336.857243,2746.520311,22409.212819,5187.418304,27596.631123
9,Own ill health or disability,NaN,14900.209321,10695.032657,10963.737186,13067.723727,8882.430756,34315.855276,24193.278371,58509.133647
10,Language difficulties,NaN,1358.562757,2415.568181,4445.435048,3545.472082,2361.688603,4517.577435,9609.149236,14126.726671
11,Unsuitable hours,NaN,11841.100445,5970.996839,10370.045337,4974.409797,1276.367414,12850.392465,21582.527368,34432.919833
12,Difficulties with finding childcare and other ...,NaN,1822.822910,5304.168077,5299.485374,6096.953746,657.959392,5623.734574,13557.654924,19181.389498
13,No feedback from employers,NaN,3684.663214,1955.613270,1191.729457,1712.736544,1273.632266,5109.437675,4708.937075,9818.374750
14,Other difficulties,NaN,33395.110392,23892.822308,10418.543069,6130.189625,10027.735490,44063.193949,39801.206935,83864.400884
15,Did not have difficulty finding work,NaN,40451.360268,22128.486151,12129.547432,9986.630903,8482.545165,49749.161196,43429.408722,93178.569919
16,Total,NaN,280609.476330,141133.510360,101719.039580,91847.764009,90273.962947,380906.680880,324677.072340,705583.753230

In [10]:
# narrow down age columns selection
difficulties_age = difficulties_all[['Main difficulty', '15–24', '25–34', '35–44', '45–54', '55 and over']].copy()
difficulties_age.reset_index(drop=True, inplace=True)
difficulties_age

,Main difficulty,15–24,25–34,35–44,45–54,55 and over
0,Had difficulty finding work,240158.116060,119005.024210,89589.492147,81861.133106,81791.417782
1,Too many applicants for available jobs,46734.396557,20486.180561,21908.059904,13232.659482,9518.451962
2,Lacked necessary skills or education,21678.554854,14231.247748,3396.928146,5911.239197,5402.104458
3,Considered too young by employers,5951.133470,671.009086,NaN,NaN,NaN
4,Considered too old by employers,3532.529802,1750.225073,909.375225,6990.596409,28542.376326
5,Insufficient work experience,57526.349373,16225.368167,6037.543150,3167.605777,778.057292
6,No vacancies at all,15913.068660,5077.309599,4576.823966,2934.115375,4145.280109
7,No vacancies in line of work,8933.120816,4893.336789,6881.172060,10760.574100,6178.813403
8,Too far to travel/transport problems,12886.493486,5436.145859,3190.614224,3336.857243,2746.520311
9,Own ill health or disability,14900.209321,10695.032657,10963.737186,13067.723727,8882.430756
10,Language difficulties,1358.562757,2415.568181,4445.435048,3545.472082,2361.688603
11,Unsuitable hours,11841.100445,5970.996839,10370.045337,4974.409797,1276.367414
12,Difficulties with finding childcare and other ...,1822.822910,5304.168077,5299.485374,6096.953746,657.959392
13,No feedback from employers,3684.663214,1955.613270,1191.729457,1712.736544,1273.632266
14,Other difficulties,33395.110392,23892.822308,10418.543069,6130.189625,10027.735490
15,Did not have difficulty finding work,40451.360268,22128.486151,12129.547432,9986.630903,8482.545165
16,Total,280609.476330,141133.510360,101719.039580,91847.764009,90273.962947

In [11]:
# print table to csv
difficulties_age.to_csv('difficulties_byage.csv')

In [12]:
# narrow down gender columns selection
difficulties_gen = difficulties_all[['Main difficulty', 'Males', 'Females', 'Persons']].copy()
difficulties_gen.reset_index(drop=True, inplace=True)
difficulties_gen

,Main difficulty,Males,Females,Persons
0,Had difficulty finding work,331157.519690,281247.663620,612405.183310
1,Too many applicants for available jobs,62882.553618,48997.194850,111879.748470
2,Lacked necessary skills or education,25604.005010,25016.069394,50620.074404
3,Considered too young by employers,3354.167275,3267.975281,6622.142556
4,Considered too old by employers,23184.996671,18540.106164,41725.102835
5,Insufficient work experience,42852.601306,40882.322455,83734.923761
6,No vacancies at all,19667.275674,12979.322034,32646.597709
7,No vacancies in line of work,24722.515942,12924.501228,37647.017169
8,Too far to travel/transport problems,22409.212819,5187.418304,27596.631123
9,Own ill health or disability,34315.855276,24193.278371,58509.133647
10,Language difficulties,4517.577435,9609.149236,14126.726671
11,Unsuitable hours,12850.392465,21582.527368,34432.919833
12,Difficulties with finding childcare and other ...,5623.734574,13557.654924,19181.389498
13,No feedback from employers,5109.437675,4708.937075,9818.374750
14,Other difficulties,44063.193949,39801.206935,83864.400884
15,Did not have difficulty finding work,49749.161196,43429.408722,93178.569919
16,Total,380906.680880,324677.072340,705583.753230

In [13]:
# print table to csv
difficulties_gen.to_csv('difficulties_bygender.csv')