In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read excel sheet
file_name = "Resources\Main Difficulty in finding work by age.xls"
df = pd.read_excel(file_name, sheet_name="Table 16.1")
df

,Australian Bureau of Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,"6226.0 Participation, Job Search and Mobility,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Released at 11:30 am (Canberra time) Mon 10 Au...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Table 16.1 Main difficulty in finding work by ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,AGE GROUP (YEARS),NaN,NaN,NaN,NaN,SEX,NaN,NaN
4,NaN,NaN,15–24,25–34,35–44,45–54,55 and over,Males,Females,Persons
5,NaN,NaN,'000,'000,'000,'000,'000,'000,'000,'000
6,Main difficulty in finding work,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Had difficulty finding work,NaN,240.158,119.005,89.5895,81.8611,81.7914,331.158,281.248,612.405
8,Too many applicants for available jobs,NaN,46.7344,20.4862,21.9081,13.2327,9.51845,62.8826,48.9972,111.88
9,Lacked necessary skills or education,NaN,21.6786,14.2312,3.39693,5.91124,5.4021,25.604,25.0161,50.6201
10,Considered too young or too old by employers,NaN,9.48366,2.42123,0.909375,6.9906,28.5424,26.5392,21.8081,48.3472
11,Considered too young by employers,NaN,5.95113,0.671009,-,-,-,3.35417,3.26798,6.62214
12,Considered too old by employers,NaN,3.53253,1.75023,0.909375,6.9906,28.5424,23.185,18.5401,41.7251
13,Insufficient work experience,NaN,57.5263,16.2254,6.03754,3.16761,0.778057,42.8526,40.8823,83.7349
14,No vacancies at all,NaN,15.9131,5.07731,4.57682,2.93412,4.14528,19.6673,12.9793,32.6466
15,No vacancies in line of work,NaN,8.93312,4.89334,6.88117,10.7606,6.17881,24.7225,12.9245,37.647
16,Too far to travel/transport problems,NaN,12.8865,5.43615,3.19061,3.33686,2.74652,22.4092,5.18742,27.5966
17,Own ill health or disability,NaN,14.9002,10.695,10.9637,13.0677,8.88243,34.3159,24.1933,58.5091
18,Language difficulties,NaN,1.35856,2.41557,4.44544,3.54547,2.36169,4.51758,9.60915,14.1267
19,Unsuitable hours,NaN,11.8411,5.971,10.37,4.97441,1.27637,12.8504,21.5825,34.4329
20,Difficulties with finding childcare and other ...,NaN,1.82282,5.30417,5.29949,6.09695,0.657959,5.62373,13.5577,19.1814
21,No feedback from employers,NaN,3.68466,1.95561,1.19173,1.71274,1.27363,5.10944,4.70894,9.81837
22,Other difficulties,NaN,33.3951,23.8928,10.4185,6.13019,10.0277,44.0632,39.8012,83.8644
23,Did not have difficulty finding work,NaN,40.4514,22.1285,12.1295,9.98663,8.48255,49.7492,43.4294,93.1786
24,Total,NaN,280.609,141.134,101.719,91.8478,90.274,380.907,324.677,705.584
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,© Commonwealth of Australia 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Assign row as column headers
df.columns = df.iloc[4]
df_clean = df.copy()
df_clean

4,NaN,NaN,15–24,25–34,35–44,45–54,55 and over,Males,Females,Persons
0,"6226.0 Participation, Job Search and Mobility,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Released at 11:30 am (Canberra time) Mon 10 Au...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Table 16.1 Main difficulty in finding work by ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,AGE GROUP (YEARS),NaN,NaN,NaN,NaN,SEX,NaN,NaN
4,NaN,NaN,15–24,25–34,35–44,45–54,55 and over,Males,Females,Persons
5,NaN,NaN,'000,'000,'000,'000,'000,'000,'000,'000
6,Main difficulty in finding work,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Had difficulty finding work,NaN,240.158,119.005,89.5895,81.8611,81.7914,331.158,281.248,612.405
8,Too many applicants for available jobs,NaN,46.7344,20.4862,21.9081,13.2327,9.51845,62.8826,48.9972,111.88
9,Lacked necessary skills or education,NaN,21.6786,14.2312,3.39693,5.91124,5.4021,25.604,25.0161,50.6201
10,Considered too young or too old by employers,NaN,9.48366,2.42123,0.909375,6.9906,28.5424,26.5392,21.8081,48.3472
11,Considered too young by employers,NaN,5.95113,0.671009,-,-,-,3.35417,3.26798,6.62214
12,Considered too old by employers,NaN,3.53253,1.75023,0.909375,6.9906,28.5424,23.185,18.5401,41.7251
13,Insufficient work experience,NaN,57.5263,16.2254,6.03754,3.16761,0.778057,42.8526,40.8823,83.7349
14,No vacancies at all,NaN,15.9131,5.07731,4.57682,2.93412,4.14528,19.6673,12.9793,32.6466
15,No vacancies in line of work,NaN,8.93312,4.89334,6.88117,10.7606,6.17881,24.7225,12.9245,37.647
16,Too far to travel/transport problems,NaN,12.8865,5.43615,3.19061,3.33686,2.74652,22.4092,5.18742,27.5966
17,Own ill health or disability,NaN,14.9002,10.695,10.9637,13.0677,8.88243,34.3159,24.1933,58.5091
18,Language difficulties,NaN,1.35856,2.41557,4.44544,3.54547,2.36169,4.51758,9.60915,14.1267
19,Unsuitable hours,NaN,11.8411,5.971,10.37,4.97441,1.27637,12.8504,21.5825,34.4329
20,Difficulties with finding childcare and other ...,NaN,1.82282,5.30417,5.29949,6.09695,0.657959,5.62373,13.5577,19.1814
21,No feedback from employers,NaN,3.68466,1.95561,1.19173,1.71274,1.27363,5.10944,4.70894,9.81837
22,Other difficulties,NaN,33.3951,23.8928,10.4185,6.13019,10.0277,44.0632,39.8012,83.8644
23,Did not have difficulty finding work,NaN,40.4514,22.1285,12.1295,9.98663,8.48255,49.7492,43.4294,93.1786
24,Total,NaN,280.609,141.134,101.719,91.8478,90.274,380.907,324.677,705.584
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,© Commonwealth of Australia 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Delete first 8 rows
df_clean = df.drop(df.index[0:8]).copy()
df_clean

4,NaN,NaN,15–24,25–34,35–44,45–54,55 and over,Males,Females,Persons
8,Too many applicants for available jobs,NaN,46.7344,20.4862,21.9081,13.2327,9.51845,62.8826,48.9972,111.88
9,Lacked necessary skills or education,NaN,21.6786,14.2312,3.39693,5.91124,5.4021,25.604,25.0161,50.6201
10,Considered too young or too old by employers,NaN,9.48366,2.42123,0.909375,6.9906,28.5424,26.5392,21.8081,48.3472
11,Considered too young by employers,NaN,5.95113,0.671009,-,-,-,3.35417,3.26798,6.62214
12,Considered too old by employers,NaN,3.53253,1.75023,0.909375,6.9906,28.5424,23.185,18.5401,41.7251
13,Insufficient work experience,NaN,57.5263,16.2254,6.03754,3.16761,0.778057,42.8526,40.8823,83.7349
14,No vacancies at all,NaN,15.9131,5.07731,4.57682,2.93412,4.14528,19.6673,12.9793,32.6466
15,No vacancies in line of work,NaN,8.93312,4.89334,6.88117,10.7606,6.17881,24.7225,12.9245,37.647
16,Too far to travel/transport problems,NaN,12.8865,5.43615,3.19061,3.33686,2.74652,22.4092,5.18742,27.5966
17,Own ill health or disability,NaN,14.9002,10.695,10.9637,13.0677,8.88243,34.3159,24.1933,58.5091
18,Language difficulties,NaN,1.35856,2.41557,4.44544,3.54547,2.36169,4.51758,9.60915,14.1267
19,Unsuitable hours,NaN,11.8411,5.971,10.37,4.97441,1.27637,12.8504,21.5825,34.4329
20,Difficulties with finding childcare and other ...,NaN,1.82282,5.30417,5.29949,6.09695,0.657959,5.62373,13.5577,19.1814
21,No feedback from employers,NaN,3.68466,1.95561,1.19173,1.71274,1.27363,5.10944,4.70894,9.81837
22,Other difficulties,NaN,33.3951,23.8928,10.4185,6.13019,10.0277,44.0632,39.8012,83.8644
23,Did not have difficulty finding work,NaN,40.4514,22.1285,12.1295,9.98663,8.48255,49.7492,43.4294,93.1786
24,Total,NaN,280.609,141.134,101.719,91.8478,90.274,380.907,324.677,705.584
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,© Commonwealth of Australia 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Reset numbering of index column
df_clean = df_clean.reset_index(drop=True)
# Remove column name of index
df_clean.columns.name = None
df_clean

,NaN,NaN,15–24,25–34,35–44,45–54,55 and over,Males,Females,Persons
0,Too many applicants for available jobs,NaN,46.7344,20.4862,21.9081,13.2327,9.51845,62.8826,48.9972,111.88
1,Lacked necessary skills or education,NaN,21.6786,14.2312,3.39693,5.91124,5.4021,25.604,25.0161,50.6201
2,Considered too young or too old by employers,NaN,9.48366,2.42123,0.909375,6.9906,28.5424,26.5392,21.8081,48.3472
3,Considered too young by employers,NaN,5.95113,0.671009,-,-,-,3.35417,3.26798,6.62214
4,Considered too old by employers,NaN,3.53253,1.75023,0.909375,6.9906,28.5424,23.185,18.5401,41.7251
5,Insufficient work experience,NaN,57.5263,16.2254,6.03754,3.16761,0.778057,42.8526,40.8823,83.7349
6,No vacancies at all,NaN,15.9131,5.07731,4.57682,2.93412,4.14528,19.6673,12.9793,32.6466
7,No vacancies in line of work,NaN,8.93312,4.89334,6.88117,10.7606,6.17881,24.7225,12.9245,37.647
8,Too far to travel/transport problems,NaN,12.8865,5.43615,3.19061,3.33686,2.74652,22.4092,5.18742,27.5966
9,Own ill health or disability,NaN,14.9002,10.695,10.9637,13.0677,8.88243,34.3159,24.1933,58.5091
10,Language difficulties,NaN,1.35856,2.41557,4.44544,3.54547,2.36169,4.51758,9.60915,14.1267
11,Unsuitable hours,NaN,11.8411,5.971,10.37,4.97441,1.27637,12.8504,21.5825,34.4329
12,Difficulties with finding childcare and other ...,NaN,1.82282,5.30417,5.29949,6.09695,0.657959,5.62373,13.5577,19.1814
13,No feedback from employers,NaN,3.68466,1.95561,1.19173,1.71274,1.27363,5.10944,4.70894,9.81837
14,Other difficulties,NaN,33.3951,23.8928,10.4185,6.13019,10.0277,44.0632,39.8012,83.8644
15,Did not have difficulty finding work,NaN,40.4514,22.1285,12.1295,9.98663,8.48255,49.7492,43.4294,93.1786
16,Total,NaN,280.609,141.134,101.719,91.8478,90.274,380.907,324.677,705.584
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,© Commonwealth of Australia 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Copy first 15 rows
df_clean = df_clean.drop(df_clean.index[15:]).copy()
df_clean

,NaN,NaN,15–24,25–34,35–44,45–54,55 and over,Males,Females,Persons
0,Too many applicants for available jobs,NaN,46.7344,20.4862,21.9081,13.2327,9.51845,62.8826,48.9972,111.88
1,Lacked necessary skills or education,NaN,21.6786,14.2312,3.39693,5.91124,5.4021,25.604,25.0161,50.6201
2,Considered too young or too old by employers,NaN,9.48366,2.42123,0.909375,6.9906,28.5424,26.5392,21.8081,48.3472
3,Considered too young by employers,NaN,5.95113,0.671009,-,-,-,3.35417,3.26798,6.62214
4,Considered too old by employers,NaN,3.53253,1.75023,0.909375,6.9906,28.5424,23.185,18.5401,41.7251
5,Insufficient work experience,NaN,57.5263,16.2254,6.03754,3.16761,0.778057,42.8526,40.8823,83.7349
6,No vacancies at all,NaN,15.9131,5.07731,4.57682,2.93412,4.14528,19.6673,12.9793,32.6466
7,No vacancies in line of work,NaN,8.93312,4.89334,6.88117,10.7606,6.17881,24.7225,12.9245,37.647
8,Too far to travel/transport problems,NaN,12.8865,5.43615,3.19061,3.33686,2.74652,22.4092,5.18742,27.5966
9,Own ill health or disability,NaN,14.9002,10.695,10.9637,13.0677,8.88243,34.3159,24.1933,58.5091
10,Language difficulties,NaN,1.35856,2.41557,4.44544,3.54547,2.36169,4.51758,9.60915,14.1267
11,Unsuitable hours,NaN,11.8411,5.971,10.37,4.97441,1.27637,12.8504,21.5825,34.4329
12,Difficulties with finding childcare and other ...,NaN,1.82282,5.30417,5.29949,6.09695,0.657959,5.62373,13.5577,19.1814
13,No feedback from employers,NaN,3.68466,1.95561,1.19173,1.71274,1.27363,5.10944,4.70894,9.81837
14,Other difficulties,NaN,33.3951,23.8928,10.4185,6.13019,10.0277,44.0632,39.8012,83.8644

In [7]:
#Drop NaN columns
df_clean.dropna(how="all", inplace=True, axis=1)
df_clean

,NaN,15–24,25–34,35–44,45–54,55 and over,Males,Females,Persons
0,Too many applicants for available jobs,46.7344,20.4862,21.9081,13.2327,9.51845,62.8826,48.9972,111.88
1,Lacked necessary skills or education,21.6786,14.2312,3.39693,5.91124,5.4021,25.604,25.0161,50.6201
2,Considered too young or too old by employers,9.48366,2.42123,0.909375,6.9906,28.5424,26.5392,21.8081,48.3472
3,Considered too young by employers,5.95113,0.671009,-,-,-,3.35417,3.26798,6.62214
4,Considered too old by employers,3.53253,1.75023,0.909375,6.9906,28.5424,23.185,18.5401,41.7251
5,Insufficient work experience,57.5263,16.2254,6.03754,3.16761,0.778057,42.8526,40.8823,83.7349
6,No vacancies at all,15.9131,5.07731,4.57682,2.93412,4.14528,19.6673,12.9793,32.6466
7,No vacancies in line of work,8.93312,4.89334,6.88117,10.7606,6.17881,24.7225,12.9245,37.647
8,Too far to travel/transport problems,12.8865,5.43615,3.19061,3.33686,2.74652,22.4092,5.18742,27.5966
9,Own ill health or disability,14.9002,10.695,10.9637,13.0677,8.88243,34.3159,24.1933,58.5091
10,Language difficulties,1.35856,2.41557,4.44544,3.54547,2.36169,4.51758,9.60915,14.1267
11,Unsuitable hours,11.8411,5.971,10.37,4.97441,1.27637,12.8504,21.5825,34.4329
12,Difficulties with finding childcare and other ...,1.82282,5.30417,5.29949,6.09695,0.657959,5.62373,13.5577,19.1814
13,No feedback from employers,3.68466,1.95561,1.19173,1.71274,1.27363,5.10944,4.70894,9.81837
14,Other difficulties,33.3951,23.8928,10.4185,6.13019,10.0277,44.0632,39.8012,83.8644

In [8]:
#Rename first column header from 'NaN'
df_clean.columns.values[0] = "Main difficulty in finding work"
df_clean

,Main difficulty in finding work,15–24,25–34,35–44,45–54,55 and over,Males,Females,Persons
0,Too many applicants for available jobs,46.7344,20.4862,21.9081,13.2327,9.51845,62.8826,48.9972,111.88
1,Lacked necessary skills or education,21.6786,14.2312,3.39693,5.91124,5.4021,25.604,25.0161,50.6201
2,Considered too young or too old by employers,9.48366,2.42123,0.909375,6.9906,28.5424,26.5392,21.8081,48.3472
3,Considered too young by employers,5.95113,0.671009,-,-,-,3.35417,3.26798,6.62214
4,Considered too old by employers,3.53253,1.75023,0.909375,6.9906,28.5424,23.185,18.5401,41.7251
5,Insufficient work experience,57.5263,16.2254,6.03754,3.16761,0.778057,42.8526,40.8823,83.7349
6,No vacancies at all,15.9131,5.07731,4.57682,2.93412,4.14528,19.6673,12.9793,32.6466
7,No vacancies in line of work,8.93312,4.89334,6.88117,10.7606,6.17881,24.7225,12.9245,37.647
8,Too far to travel/transport problems,12.8865,5.43615,3.19061,3.33686,2.74652,22.4092,5.18742,27.5966
9,Own ill health or disability,14.9002,10.695,10.9637,13.0677,8.88243,34.3159,24.1933,58.5091
10,Language difficulties,1.35856,2.41557,4.44544,3.54547,2.36169,4.51758,9.60915,14.1267
11,Unsuitable hours,11.8411,5.971,10.37,4.97441,1.27637,12.8504,21.5825,34.4329
12,Difficulties with finding childcare and other ...,1.82282,5.30417,5.29949,6.09695,0.657959,5.62373,13.5577,19.1814
13,No feedback from employers,3.68466,1.95561,1.19173,1.71274,1.27363,5.10944,4.70894,9.81837
14,Other difficulties,33.3951,23.8928,10.4185,6.13019,10.0277,44.0632,39.8012,83.8644

In [9]:
#Remove redundant subheading row
df_clean = df_clean.drop([2])
#Reset index
df_clean = df_clean.reset_index(drop=True)
df_clean

,Main difficulty in finding work,15–24,25–34,35–44,45–54,55 and over,Males,Females,Persons
0,Too many applicants for available jobs,46.7344,20.4862,21.9081,13.2327,9.51845,62.8826,48.9972,111.88
1,Lacked necessary skills or education,21.6786,14.2312,3.39693,5.91124,5.4021,25.604,25.0161,50.6201
2,Considered too young by employers,5.95113,0.671009,-,-,-,3.35417,3.26798,6.62214
3,Considered too old by employers,3.53253,1.75023,0.909375,6.9906,28.5424,23.185,18.5401,41.7251
4,Insufficient work experience,57.5263,16.2254,6.03754,3.16761,0.778057,42.8526,40.8823,83.7349
5,No vacancies at all,15.9131,5.07731,4.57682,2.93412,4.14528,19.6673,12.9793,32.6466
6,No vacancies in line of work,8.93312,4.89334,6.88117,10.7606,6.17881,24.7225,12.9245,37.647
7,Too far to travel/transport problems,12.8865,5.43615,3.19061,3.33686,2.74652,22.4092,5.18742,27.5966
8,Own ill health or disability,14.9002,10.695,10.9637,13.0677,8.88243,34.3159,24.1933,58.5091
9,Language difficulties,1.35856,2.41557,4.44544,3.54547,2.36169,4.51758,9.60915,14.1267
10,Unsuitable hours,11.8411,5.971,10.37,4.97441,1.27637,12.8504,21.5825,34.4329
11,Difficulties with finding childcare and other ...,1.82282,5.30417,5.29949,6.09695,0.657959,5.62373,13.5577,19.1814
12,No feedback from employers,3.68466,1.95561,1.19173,1.71274,1.27363,5.10944,4.70894,9.81837
13,Other difficulties,33.3951,23.8928,10.4185,6.13019,10.0277,44.0632,39.8012,83.8644

In [10]:
df_clean_too_many_appl = df_clean[:1].copy()
df_clean_too_many_appl = df_clean_too_many_appl[['15–24', '25–34', '35–44','45–54', '55 and over']]
df_clean_too_many_appl

     15–24    25–34    35–44    45–54 55 and over
0  46.7344  20.4862  21.9081  13.2327     9.51845

In [11]:
#Create new dataframe of 
too_many_appl_data = {'age_range': ['15–24',	'25–34',	'35–44',	'45–54',	'55 and over'], 'too_many_applicants': [46.73444, 62.2, 21.9081, 13.2327, 9.51845]}
df_clean_too_many_appl = pd.DataFrame(data=too_many_appl_data)
df_clean_too_many_appl

     age_range  too_many_applicants
0        15–24             46.73444
1        25–34             62.20000
2        35–44             21.90810
3        45–54             13.23270
4  55 and over              9.51845

In [12]:
df_clean_too_many_appl[['too_many_applicants']] = df_clean_too_many_appl[['too_many_applicants']] * 1000
df_clean_too_many_appl

     age_range  too_many_applicants
0        15–24             46734.44
1        25–34             62200.00
2        35–44             21908.10
3        45–54             13232.70
4  55 and over              9518.45

In [13]:
# print table to csv
df_clean_too_many_appl.to_csv('main_diff_by_age_range.csv', index=False)